JobRepoServicesTestClient/Service References/SalarySurveyRef/SalarySurveyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalarySurveyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59461/JobRepoServicesHost/SalarySurveyWCFSOAPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59461/JobRepoServicesHost/SalarySurveyWCFSOAPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59461/JobRepoServicesHost/SalarySurveyWCFSOAPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobRepoServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalarySurveyService_GetAllRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoles" />
  </wsdl:message>
  <wsdl:message name="ISalarySurveyService_GetAllRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ISalarySurveyService_GetRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRole" />
  </wsdl:message>
  <wsdl:message name="ISalarySurveyService_GetRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalarySurveyService">
    <wsdl:operation name="GetAllRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalarySurveyService/GetAllRoles" message="tns:ISalarySurveyService_GetAllRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalarySurveyService/GetAllRolesResponse" message="tns:ISalarySurveyService_GetAllRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalarySurveyService/GetRole" message="tns:ISalarySurveyService_GetRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalarySurveyService/GetRoleResponse" message="tns:ISalarySurveyService_GetRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalarySurveyService" type="tns:ISalarySurveyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRoles">
      <soap:operation soapAction="http://tempuri.org/ISalarySurveyService/GetAllRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRole">
      <soap:operation soapAction="http://tempuri.org/ISalarySurveyService/GetRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalarySurveyService">
    <wsdl:port name="BasicHttpBinding_ISalarySurveyService" binding="tns:BasicHttpBinding_ISalarySurveyService">
      <soap:address location="http://localhost:59461/JobRepoServicesHost/SalarySurveyWCFSOAPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>