JobRepo/Service References/SalarySurveyRef/SalarySurveyWCFSOAPService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JobRepoServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JobRepoServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSalarySurvey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalarySurvey" nillable="true" type="tns:SalarySurvey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalarySurvey" nillable="true" type="tns:ArrayOfSalarySurvey" />
  <xs:complexType name="SalarySurvey">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageSalary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxSalary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinSalary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalarySurvey" nillable="true" type="tns:SalarySurvey" />
</xs:schema>